// Variables generales que estarán bajo modificación

// fondos

$primary-bg: #BF567D; 
$secondary-bg:#D98BAF;

// textos

$primary-color: #686963;
$secondary-color: white;

// tamaños

$principal-title: 1rem;
$secondary-title: 2rem;
$terciary-title: 2.5rem;

// botones

$primary-button-color: #DF7DA6 ;