.calculate__input{
    @include d-flex;
    flex-direction: column;
    background-color: $primary-bg;
    border-radius: 5%;

//PREGUNTAR POR QUÉ NO RESULTA REALIZAR LA DECLARACIÓN DE PSEUDO CLASE

    .calculate__img{
        width: 60%;
        padding-top: 1.5rem;     
    }
    
    .calculate__title--primmary{
        @include d-flex;
        padding-bottom: 1rem;
        color: $secondary-color;
        font-size: $principal-title;
    }

    .calculate__title--secondary{
        padding: 1rem 1rem;
        color: $secondary-color;
        font-size: $principal-title;
    }
}

.info__bar{
    margin: 2% 5%;
    border-radius: 10px;
    border: 1px solid grey;
    height: 1.5rem;
}

